body {
	margin:0px;
	padding:0px;
}
body,td,th {
	font-size: 12px;
	color: #323232;
	line-height: 21px;
	background-repeat: repeat-x;
	background-position: center;
	background-image: url(images/bg.gif);
}


a{
  color: #323232;
  }
.left1 {
	border: 1px solid #a8301e;
	height: 190px;
}
.left1 .indexintro {
	padding: 10px;
}
.indexnews {
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #A8301E;
	border-bottom-color: #A8301E;
	border-left-color: #A8301E;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.li1 {
	line-height: 27px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #eed6d2;
	background-image: url(images/index_33.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
	display: block;
}
.li2 {
	line-height: 27px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #eed6d2;
	padding-left: 10px;
}
.znxs {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #A8301E;
	border-left-color: #A8301E;
	padding: 10px;
}
.yxwl {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #A8301E;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.white a {
	color: #FFFFFF;
	line-height: 32px;
}
.white {
	color: #FFFFFF;
	background-image: url(../images/关键字条框.jpg);
	background-repeat: repeat-x;
}

.picbk {
	border: 0.1mm solid #009933;
}
.white1 {
	background-image: url(../images/关键字条框.jpg);
	background-repeat: repeat-x;
	color: #FFFFFF;
}
.leftmenutop {
	background-image: url(../images/but01-a.png);
	height: 30px;
	padding-left: 20px;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #666666;
}
.leftmenuli {
	color: #FF0000;
	background-image: url(../images/leftbut01.gif);
	height: 25px;
	padding-left: 60px;
}
.leftmenuli a{
	color: #FF0000;

}
.blue {
	color: #65899F;
}
.red {
	color: #EA2200;
}
.line {
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-bottom-color: #CCC;
}

.imgbk {
	padding: 1px;
	border: 1px solid #A8301E;
}
.grey {
	color: #a9a9a9;
}
.grey a{
	color: #a9a9a9;
}
.white2 a {
	color: #FFFFFF;
	line-height: 32px;
}
.white2 {
	color: #FFFFFF;
	background-image: url(../images/index_63.gif);
	background-repeat: repeat-x;
}
img{
border:none;
}
.lefttt1 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #A8301E;
	border-right-color: #A8301E;
	border-left-color: #A8301E;
}

.highlightit img{
border: 2px solid #ccc;
}

.highlightit:hover img
{
	border-right: coral 2px solid;
	border-top: coral 2px solid;
	border-left: coral 2px solid;
	border-bottom: coral 2px solid;
}

.highlightit:hover{
color: red; /* Dummy definition to overcome IE bug */
}